DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASS=123456789
DB_NAME=nodejs_api

KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=nestjs-chat
KAFKA_GROUP_ID=nestjs-group

JWT_SECRET=AEgQuKuIYQteQymBpMtAj6NgY4sDH9StTjnrm9jxqz506wdwACO88gAsUGpsjqQW

PHP_API=http://192.168.1.192:8000/api/